<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <head>
    <title>持仓监控</title>
    <link rel="stylesheet" type="text/css" href="/css/layui/css/layui.css" />
    <style>
      .iframe-wrapper {
        width: 50%;
        float: left;
      }
    </style>
  </head>
  <body>
    <h1>持仓监控</h1>

    <div>
      <input type="button" id="open-positon" value="开仓/买入" />
    </div>
    <div id="edit-buy" style="display: none">
      <div class="layui-row">
        <div class="layui-col-xs4">
          <div>证券代码：<input type="text" id="codeInput" /></div>
          <div>证券名称：<input type="text" id="nameInput" readonly /></div>

          <!-- <div>
            投资组合：
            <select id="portfolio" onchange="onPortfolioChanged()">
              <option
                th:each="portfolio : ${T(com.goodfun.positionminitorjava.global.Portfolio).values()}"
                th:value="${portfolio}"
                th:text="${portfolio.info}"
                th:selected="${portfolio == selectedPortfolio}"
              ></option>
            </select>
            <input
              type="hidden"
              id="selected-portfolio"
              name="selectedPortfolio"
              value=""
            />
          </div> -->
        </div>
        <div class="layui-col-xs4">
          <div>价格：<input type="text" id="priceInput" /></div>
          <div>数量：<input type="text" id="numberInput" /></div>
        </div>
        <div class="layui-col-xs4">
          <input type="button" id="save-record" value="提交" />
        </div>
      </div>
    </div>
    <div>
      <!-- <ul id="positonList"></ul> -->
    </div>

    <!-- <div>
      <div>证券代码：<input type="text" id="code" /></div>
      <input type="button" id="real-price" value="实时价格" />
    </div> -->

    <div class="iframe-wrapper">
      <h1>持仓</h1>
      <iframe src="portfolio.html" width="100%" height="500px"></iframe>
    </div>

    <div class="iframe-wrapper">
      <h1>实时盈亏</h1>
      <iframe
        id="rp-iframe"
        src="real-position.html"
        width="100%"
        height="500px"
      ></iframe>
    </div>
    <script src="/js/dexie.min.js"></script>
    <script src="/js/position.js" type="module"></script>
  </body>
</html>
